@tailwind base;
@tailwind components;
@tailwind utilities;

.game-container {
  height: 100vh;
  overflow: auto;
}

/* Only prevent scrolling when using game controls */
.prevent-scroll {
  overflow: hidden;
} 